@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

@for $i from 0 through 100 {
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
}