.button {
  text-decoration: none;

  &.signin {
    background: $red;
    color: $white;
    padding: 4px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    min-height: 2rem;
    border: 1px solid $red;
  }

  &.block {
    display: block;
  }
}