.header {
  padding: 0 48px;
  height: 86px;
  display: flex;
  align-items: center;

  &--logo {

    .logo {
      overflow: hidden;
      width: 148px;
      height: 40px;

      svg {
        fill: $red;
        width: 148px;
        height: 40px;
      }
    }

    &.small {
      .logo {
        overflow: hidden;
        width: 93px;
        height: 25px;
  
        svg {
          fill: $red;
          width: 100%;
          height: 25px;
        }
      }
    }
  }

  &--actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      margin-left: 12px;
    }
  }

  &--browse {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    height: 70px;
  }
}