.header {
  padding: 0 48px;
  height: 86px;
  display: flex;
  align-items: center;

  &--logo {

    .logo {
      overflow: hidden;
      width: 148px;
      height: 40px;

      svg {
        fill: $red;
        width: 148px;
        height: 40px;
      }
    }
  }

  &--actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      margin-left: 12px;
    }
  }
}