.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &--nav {

    a {
      color: $white;
      font-weight: 400;
      text-decoration-color: none;
      font-size: 14px;
      margin-left: 20px;
      text-decoration: none;
      transition: color .3s ease;

      &:hover {
        color: #838383;
        transition: color .3s ease;
      }
    }
  }
}