.home {

  &--banner {
    padding: 0 48px;

    &__bg {
      min-height: 47.5rem;
      background-image: 
        linear-gradient(65.68deg, rgba(0, 8, 29, 0.6) 9.51%, rgba(53, 13, 49, 0.6) 72.89%, rgba(132, 5, 25, 0.6) 101.01%),
        linear-gradient(102.21deg, rgba(0, 0, 0, 0.04) 16.09%, rgba(1, 1, 1, 0.17) 39.27%, rgba(1, 1, 1, 0.24) 64.25%, rgba(4, 4, 4, 0.8) 96.63%),
        url('../../assets/images/perspective-background.jpg');
      border-radius: 16px;
      background-size: cover;
      position: relative;
    }

    &__content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 94px 152px;
      margin-top: -30px;

      h1 {
        font-weight: 900;
        color: $white;
        font-size: 88px;
        line-height: 100px;
        width: 65%;
      }

      p {
        font-size: 32px;
        color: $white;
        font-weight: 700;
        margin-top: 16px;
      }
    }
  }
}